# Supabase configuration
VITE_SUPABASE_URL=https://nwkfrbbmdtkfgazrvlyj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im53a2ZyYmJtZHRrZmdhenJ2bHlqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0MjE4MjgsImV4cCI6MjA5Mzk5NzgyOH0.-akTEdtqyk3UTlvW7m5t5eYLei3m4SngEYLZXHA9Luc

# Kkiapay configuration
VITE_KKIAPAY_BASE_URL=https://api.kkiapay.me
VITE_KKIAPAY_PUBLIC_KEY=9fa8afd0653111efbf02478c5adba4b8
VITE_KKIAPAY_PRIVATE_KEY=tpk_9fa8afd2653111efbf02478c5adba4b8
VITE_KKIAPAY_SECRET=tsk_9fa8d6e0653111efbf02478c5adba4b8
VITE_KKIAPAY_SANDBOX=true

# Demo payments configuration
VITE_DEMO_PAYMENTS=true
